#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

.display-5-text-success {
  color: yellow !important;
}

.hall-div{
  background-color: #383838;
  border-radius: 20px;
  margin-top:20vh;
}
