#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

.title {
  color:#f5da5f;
}

.what-are-we{
  color:#005EB8;
}

.intro-paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.align-self-start {

}


.text-primary{
  
  font-size: large;
  max-width: 1200px;
  word-wrap: break-word;
}

.hall-div{
  padding-top:20dvh !important;
}

.dorm-image{
  height:450px;
  width:700px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #131212;
}


.Hall-paragraph{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}