#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

.intro-div{
  max-width:75%;
  margin-left:12.5%;
  text-align:left;
}

.intro-paragraph{
  margin-bottom:15px;
}
