.model, .overlay{
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:fixed;
}

.overlay{
  background:rgba(49, 49, 49, 0.8);
}

.modal-content{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  line-height:1.4;
  background: #323232;
  padding:14px 28px;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(0, 0, 0);
  border-radius:3px;
  min-height:300px;
  max-width:400px;
  min-width:300px;
}

.btn-close{
  align-self:flex-end;
}
