
.roomListDiv .roomDivs{
  background-color: rgb(86, 83, 83);
  border-radius: 10px;
  text-align: left;
  padding-left:5px;
  width:50rem;
  margin-bottom:10px;
}

.roomListDiv .roomDivs:hover{
  cursor:pointer;
  opacity:0.8;
}
.join-room-div{
  margin-left:2rem;
}
.create-room-btn{
  margin-left:0.5rem;
}
p{
  margin:5px;
}
button{
  margin-bottom:5px;
}
input{
  max-height:30px;
  max-width:300px;
  margin-right:0.5rem;
}
select{
  height:30px;
}