.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.75fr 0.25fr repeat(4, 0.5fr) 0.4fr repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr) 0.75fr repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: bisque;
  width:65%;
  height:75vh;
  }
  
  .div1 { grid-area: 1 / 1 / 13 / 13; 
          background-color: rgb(255, 255, 255);}
  .div2 { grid-area: 1 / 5 / 3 / 9; background-color: #242424;}
  .div3 { grid-area: 6 / 5 / 13 / 9; background-color: #242424;}
  .div4 { grid-area: 8 / 1 / 11 / 2; background-color: #242424;}
  .div5 { grid-area: 6 / 9 / 7 / 10; background-color: #242424;}
  .square {
        height: 50px;
        width: 50px;
        background-color: #555;
      }
      .left-component {
        position: absolute;
        top: 1;
        left: 0;
        width: 50px; /* Adjust width as needed */
        height: 75%; /* Take full height of the parent container */
        
      }